/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Banner
4. About
5. Menu
6. Offers
7. Review
8. Footer
-------------------- */

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

:root {
    /* Background Color */
    --primary-color: #F23E19;
    --secondary-color: #333333;
    --bg-black: #111111;
    --bg-dark: #1C1819;
    --bg-white: #fff;
    --bg-gray: #e5e5e5;

    /* Text Color */
    --primary-text: #e81922;
    --text-white: #fff;
    --text-black: #111111;
    --third-color: #f98169;
  --white-color: #fff;
  --text-color: #555;
  --text-gray: #999;
  --black-color: #000;
    /* Font Family */
    --primary-font: 'Grandstander', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
}

/* 1 Custom CSS */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

section {
    padding: 50px 0;
}

.main-btn {
    display: inline-block;
    border-radius: 50px;
    padding: 10px 27px;
    border: 1px solid var(--primary-color); 
    color: var(--primary-text);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;   
    background:linear-gradient(to right, var(--primary-color) 50%, transparent 50%);
    background-size:200% 100%;
    background-position: right bottom;
    transition:all 0.5s ease-out;
} 
.orange-btn{
    display: inline-block;
    border-radius: 50px;
    padding: 10px 27px;
    border: 1px solid var(--primary-color); 
    color: var(--text-white);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;   
    background:linear-gradient(to right, var(--text-white) 50%, transparent 50%);
    background-color:var(--primary-color);
    background-size:200% 100%;
    background-position: right bottom;
    transition:all 0.5s ease-out;
}
.orange-btn:hover {
    color: var(--primary-color);  
    background-position: left bottom; 
} 
.white-btn {
    display: inline-block;
    border-radius: 50px;
    padding: 10px 27px;
    border: 1px solid var(--text-white); 
    color: var(--text-white);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;   
    background:linear-gradient(to right, var(--bg-white) 50%, transparent 50%);
    background-size:200% 100%;
    background-position: right bottom;
    transition:all 0.5s ease-out;
} 
.white-btn:hover {
    color: var(--primary-color);  
    background-position: left bottom; 
}
.main-btn:hover {
    color: var(--text-white);  
    background-position: left bottom; 
} 
/*
==========================================
  counter Design
==========================================
*/
.counter-section{
  background-color: var(--primary-color);
  padding:2.5rem 0;
  
}
.counter-section p{
  color:var(--text-white);
  text-transform: uppercase;
}
/*
==========================================
 about section Design
==========================================
*/

.about-section{
  background: var(--white-color);
}
.about-section .card,
.about-section .card img{
  border-radius: 0.625rem;
}
.about-section .text-sec{
  padding-left:2rem;
}
.food-type{
    padding-top: 3.25rem;
}
.food-type ul li{
    font-size: 1rem;
    color:var(--text-color);
    line-height: 32px;
    position:relative;
    margin-left: 30px;
}
.food-type ul li::before{
    position: absolute;
    left: -2.1875rem;
    color:var(--primary-color);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    display: inline-block;
    padding-right:3px ;
    vertical-align: middle;
    font-weight: 900;
}
.story-section{
    width: 100%;
    height: 28.125rem;

}
/*
==========================================
 testimonial section Design
==========================================
*/
.wrapper {
    padding-top: 4.25rem;
    padding-bottom: 6.25rem;
  }
  .text-content {
    width: 70%;
    margin: auto;
  }
  
.testimonial-section{
    background-color: var(--primary-color);
  }
  .testimonial-section .carousel-item{
    margin-top:3rem;
    padding:10rem 3.125rem;
    background-color:var(--white-color);
    border-radius: 0.9375rem;
    text-align: center;
  } 
  .testimonial-section .carousel-caption img{
    max-width:5rem;
    border-radius: 50%;
    padding:0.3125rem;
  }
  
  .testimonial-section .carousel-item .carousel-caption p{
    font-size: 1.3125rem;
    line-height: 2.0625rem;
    padding:0 11% 0.625rem;
  }
  .testimonial-section .carousel-indicators{
    bottom:-2.8125rem;
  }
  .testimonial-section .carousel-indicators button{
    width:15px;
    height:15px;
    outline:none;
    border-radius: 50%;
    border:none;
    margin-right:1rem;
    opacity:0.2;
  }
  .testimonial-section .carousel-indicators button.active{
    opacity:1;
  }
  
  

h1 {
    font-size: 80px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-black);
    margin-bottom: 20px;
    font-family: var(--primary-font);
}

h1 span {
    color: var(--primary-color);
}

h2 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
    color: var(--text-white);
    font-family: var(--primary-font);
}
h2.black {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
    color: var(--text-black);
    font-family: var(--primary-font);
}

h3 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
    color: var(--text-black);
    font-family: var(--primary-font);
}

h5 {
    font-weight: 700;
    font-size: 20px;
    color: var(--text-white);
}
h5.orange {
    color: var(--primary-color);
    text-transform: capitalize;
    font-family: var(--secondry-font);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 1px;
}


/* 2 Navbar */
.header_wrapper .navbar {
    padding: 20 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 220px;
    height: auto;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-black);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--primary-text);
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

/* 3 Banner */
.banner_wrapper {
    padding-top: 100px;
}

.banner_wrapper .top-menu .card {
    height: 275px;
    overflow: hidden;
    cursor: pointer;
}

.banner_wrapper .top-menu .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms ease;
}

.banner_wrapper .top-menu .card:hover img {
    transform: scale(1.1)
}

/* 4 About */
.about_wrapper {
    background-color: var(--bg-gray);
    padding-bottom: 130px;
}

.about_wrapper .card {
    z-index: 10;
    right: -25%;
    top: 30%;
}

/* 5 menu wrapper */
.menu_wrapper {
    width: 100%;
    height: auto;
    background-image: url('../images/food-menu-banner.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: var(--bg-dark);
}

.menu_wrapper .row {
    padding-top: 400px;
}

.menu_wrapper .card {
    background-color: var(--secondary-color);
}

.menu_wrapper .card h3,
.menu_wrapper .card p {
    color: var(--text-white);
}

.menu_wrapper .card h3 span {
    background-color: var(--primary-color);
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

/* 6 offers */
.offers_wrapper .card {
    height: 100%;
    min-height: 260px;
    box-shadow: 0 0 16px 4px var(--bg-dark-blue);
    background-position: 50% 50%;
    background-size: cover;
}

.offers_wrapper .card .offer-text {
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
/* 7 review */

.review_wrapper {
    width: 100%;
    height: auto;
    background-image: url('../images/health-tips.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.review_wrapper .carousel-item {
    min-height: 500px;
    height: 100%;
}

.review_wrapper .carousel-item img {
    width: 65px;
    margin-bottom: 20px;
}

.review_wrapper .carousel-control-prev-icon,
.review_wrapper .carousel-control-next-icon {
    filter: brightness(0.10);
}

/* Form Control */
.newsletter{
    width:55%;
    margin:0 auto;
  }
  .newsletter .form-control{
    height:3.225rem;
    padding:0 1.25rem;
    font-size: 0.875rem; 
    width:100%;
    border:none;
    border-radius: 0;
    background:transparent;
    border:0.1875rem solid var(--text-gray);
    color:var(--black-color);
    font-weight: 700;
  }
  .newsletter .form-control:hover,
  .newsletter .form-control:focus{
    outline:none;
    box-shadow: none;
    border-color:var(--primary-color);
  }
  


  .footer_wrapper {
    background-color: var(--bg-white);
    padding: 20px 0;
}

.footer_wrapper .footer-logo img {
    width: 100px;
}

.footer_wrapper .social-icon li {
    margin: 6px;
}

.footer_wrapper .social-icon a {
    width: 35px;
    height: 35px;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid var(--bg-black);
    color: var(--text-black);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-icon a:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
    transform: translateY(-3px);
}

.footer_wrapper .copyright-text p {
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
}

.footer_wrapper .copyright-text a {
    color: var(--primary-color);
}
